
<nav>
    <div class="nav-left">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </div>
    <div class="nav-right">
      <li class="cart">
        <a routerLink="/cart" routerLinkActive="active">
            <i class="fa-solid fa-cart-shopping" style="color: #B197FC; font-size:24px;"></i>

          <!-- <img src="path/to/cart-icon.png" alt="Cart" class="cart-icon"> -->
          <span class="cart-count">0</span> <!-- This can be dynamically updated -->
        </a>
      </li>
    </div>
  </nav>